@import '../../styles/variables.module';

.input {
  height: $input-height;
  padding: 0 10px;
  background: $input-background;
  border: $input-border;

  &Block {
    display: block;
    width: 100%;
  }

  &Error {
    border-color: $danger;
  }
}

.error {
  color: $danger;
  margin: 0 0 10px;
  font-size: 14px;
}
