@import '../../styles/variables.module';

.toggleButton {
  border: none;
  background: $gray100;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 30px;
  padding: 10px;
  font-size: 16px;
}

.caretIcon {
  transform: rotate(0deg);
  transition: transform $transition-xs;
  display: inline-block;
  width: 15px;
  height: 15px;

  svg {
    width: inherit;
    height: inherit;
  }

  &Open {
    transform: rotate(180deg);
  }
}
